<h1><%= doc.title %></h1>
<div class="meta-info">
  <cite><%= doc.last_modifying_user.display_name %></cite>
  //
  <time><%= doc.modified_time.strftime('%d %b %Y') %></time>
</div>
<article>
  <%= ArticleJSON::Article.from_google_doc_html(doc.export_as_string('html')).to_html %>
</article>
